@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  letter-spacing: 0.03em;
  line-height: 1.8;
  color: #333;
}

h1,
h2,
h3 {
  font-family: 'Source Serif Pro';
}

a {
  text-decoration: none;
}
